<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body class="test">
		<img src="/img.jpg" style="height: 40%;"><br><br>
		{{> products}}
		<br>
		{{> services}}
		<br>
		<form method="POST" action="/create">
			<label class="" for="name">Enter something:</label>
      		<input type="text" name="something" value="" required />
			<button type="submit" >Submit</button>
		</form>
	</body>
</html>